*{
    box-sizing: border-box;
    margin: 0px;
}
.container{
    height: 100vh;
    display: flex;
}
.left-side{
    width: 40%;
    background-image: url(photos/leaf-background.avif);
    background-size: cover;
}

.right-side{
    width: 60%;
    background-color: orange;
}