*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    display: flex;
}

.left-side{
    width: 40%;
    background-image: url(photos/leaf-background.avif);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-side{
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header, .footer{
    width: 100%;
    background-color: lightgray;
    flex: 1;
}
.header{
    align-items: center;
    font-size: 1.5em;
    padding: 1.5em;
}

.header p{
    margin-bottom: 2em;
}

.sign-up{
    display: flex;
    flex-direction: column;
}

.logo-text{
    color: white;
}

.odin-logo{
    height: 3em;
}

.logo{
    flex: 1;
    height: 4em;
    display: flex;
    font-size: 2em;
    background-color: rgba(0, 0, 0, .452);
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    padding: 30px;
    background-color: white;
    border-radius: 6px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form-row{
    display: flex;
    gap: 2em;
}

.form-group{
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 20em;
}

label{
    font-size: .9em;
    font-weight: bold;
    margin-bottom: 6px;
}

input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.container h1{
    margin-bottom: 20px;
}